Source: ros-groovy-yei-tss-usb
Section: misc
Priority: extra
Maintainer: Scott K Logan <logans@cottsay.net>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-sensor-msgs,ros-groovy-diagnostic-updater,ros-groovy-catkin,ros-groovy-roscpp,ros-groovy-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-yei-tss-usb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-diagnostic-updater,ros-groovy-sensor-msgs,ros-groovy-roscpp,ros-groovy-std-srvs
Description: YEI Three-space USB Driver
